.CameraAdmin {
  nav {
    width: 100%;
    position: fixed;
    padding: 20px 0 20px 20px;
    font-size: 22px;
    z-index: 10;
    color: var(--black-light-color);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    background-color: aliceblue;
    p {
      cursor: pointer;
      font-family: "Open Sans", sans-serif;
      font-weight: 500;
      color: #707070b7;
      margin: 0 15px;
      font-size: 16px;
      letter-spacing: 1px;
      position: relative;
      display: inline-block;
    }
    .i{
        color: #707070;
    }
  }
}
